<% if @product_categories.empty? %>
  <p>Nenhuma categoria de produto cadastrada</p>
<% end %>

<% @product_categories.each do |category| %>
  <div>
    <dl>
      <dt>Nome</dt>
        <dd><%= link_to category.name, category %></dd>
      <dt>Código</dt>
        <dd><%= category.code %></dd>
    </dl>
    <%= link_to "Editar categoria", edit_product_category_path(category) %>
  </div>
<% end %>

<%= link_to "Registrar uma categoria", new_product_category_path %>

<%= link_to "Voltar", root_path %>